.root-layout {
  min-height: 100vh;
  display: flex;
  background-color: #FDF5E6; /* Light beige background */
}

.main-content {
  flex-grow: 1;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

.main-content.with-sidebar {
  margin-left: 250px; /* Match the width of side menu */
}

/* Add this class when the sidebar is collapsed */
.main-content.with-sidebar.sidebar-collapsed {
  margin-left: 60px;
}
